# Compiled Java classes and packaging
**/target/
build/
dist/
.dist/

# Dependencies
node_modules/

# IDE configurations
.idea/
*.iml
.vscode/

# Local database data
pg_data/
postgres_data/

# OS specific files
.DS_Store
Thumbs.db

# Logs & Environment Configuration
logs/
*.log
.env
.env.*
.env.local